################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/AngularApp/FileContentIndex/32a79c9c-b748-4eb0-9927-98446af50b28.vsidx
/.vs/AngularApp/FileContentIndex/4ae7a893-9cdb-4685-8fd2-cad575ee36c2.vsidx
/.vs/AngularApp/FileContentIndex/5676e224-cd15-4a4e-852d-5a70f5c0d704.vsidx
/.vs/AngularApp/FileContentIndex/6d0ab4b8-d023-44d1-813f-92aa7248cf31.vsidx
/.vs/AngularApp/FileContentIndex/a10fd386-9c54-4541-a129-d27a11f9dd82.vsidx
